<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card border-none">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <img
                src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-Images.png"
                class="w-16 h-16 object-cover rounded-circle img-thumbnail"
                alt="Imagen de perfil"
              />
            </div>
            <div class="col-md-8">
              <h1>{{#if user}}Welcome {{user.name}}{{else}}Welcome Guest{{/if}}</h1>
              <p>Email: {{user.email}}</p>
              <p>Age: {{user.age}}</p>
              <p>Role: {{user.role}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <form action="/products" method="get">
          <input type="submit" value="Back to Products" class="btn btn-dark" />
        </form>
      </div>
    </div>
  </div>
</div>