<div>
  <div class="m-3 d-flex justify-content-center">
    <div class="mr-3">
      <form action="/api/sessions/logout" method="post">
        <input type="submit" value="Logout" class="btn btn-danger" />
      </form>
    </div>
    <div>
      <form action="/products" method="get">
        <input type="submit" value="Back to profile" class="btn btn-primary" />
      </form>
    </div>
  </div>
  <div class="m-3 justify-center">
    <div>
    <form class="row p-3" action="/api/products" method="post">
      <input class="form-control m-1" type="text" name="title" placeholder="Title" id="title">
      <input class="form-control m-1 " type="text" name="description" placeholder="Description" id="description">
      <input class="form-control m-1 " type="text" name="code" placeholder="Code" id="code">
      <input class="form-control m-1" type="number" name="price" placeholder="Price" id="stock">
      <input class="form-control m-1 " type="number" name="stock" placeholder="Stock" id="stock">
      <input class="form-control m-1 " type="text" name="category" placeholder="Category" id="category">
      <input class="form-control m-1 " type="text" name="thumbnails" placeholder="Thumbnails" id="thumbnails">
      <input class="btn btn-dark m-2" type="submit" value="Send" id="send">
    </form>
    </div>
  </div>
  
  <hr>
  
  <div class="p-2">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> #Product Id </th>
          <th> Title </th>
          <th> Description </th>
          <th> Code </th>
          <th> Price </th>
          <th> Stock </th>
          <th> Category </th>
          <th> Thumbnails </th>
          
        </tr>
      </thead> 
      <tbody>
        {{#each products.docs}}
          <tr class="align-middle">
            <td >  {{ _id }}</td> 
            <td> {{ title }} </td>
            <td> {{ description }} </td>
            <td> {{ code }} </td>
            <td> {{ price }} </td>
            <td> {{ stock }} </td>
            <td> {{ category }} </td> 
            <td>
              {{#each thumbnails}}
                <img src="{{ this }}" alt="Thumbnail" width="40" height="40">
              {{/each}}
            </td>
          </tr>
        {{/each}}

    </table>  
  </div>
</div>