<div class="container mt-4 mb-4">
  <div class="m-3 d-flex justify-content-center">
    <div class="mr-3">
      <form action="/api/jwt/logout" method="post">
        <input type="submit" value="Logout" class="btn btn-danger" />
      </form>
    </div>
    <div class="mr-3">
      <form action="/products" method="get">
        <input type="submit" value="Perfil" class="btn btn-dark" />
      </form>
    </div>
    <div>
      <form action="/admin" method="get">
        <input type="submit" value="Admin" class="btn btn-dark" />
      </form>
    </div>
  </div>

  <hr />

  <div class="p-2 table-responsive">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th> Nombre </th>
          <th> Apellido </th>
          <th> Email </th>
          <th> Edad </th>
          <th> Ultima conexión</th>
          <th> Rol </th>
          <th>  </th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr class="align-middle">
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{email}}</td>
            <td>{{age}}</td>
            <td>{{last_connection}}</td>
            <td class="user-role">{{role}}</td>
            <td >
               <button id="expiredUsers" class="btn btn-danger me-2">Eliminar usuarios
        expirados
      </button>
              <button
                type="button"
                class="btn btn-danger btn-delete-user"
                data-user-id="{{_id}}"
              >Borrar</button>
               <button
                type="button"
                class="btn btn-secondary btn-change-user"
                data-user-id="{{_id}}"
              >Cambiar rol</button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script src="/js/users.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>